.main-div{
  background-image: url('https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
  background-attachment: fixed;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 15px;
    margin-left: 30px;
}

#para1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color:#000438;
    margin: 1ppx;
}

.div2 {
    opacity: 90%;
    margin-left: 100px;
    margin-right: 100px;
    font-size:x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #DFEBF5;
    color: #000438;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.button{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.button2{
  background: royalblue;
  border-radius: 10px;
  color: #f3f5f7;
  height: 0;
  left: 1rem;
  line-height: 0;
  padding: 21px 18px;
  margin-right: 10px;
}

.bn {
  background-color: #DFEBF5;
  color: #000438;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  text-wid;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color:#DFEBF5;
  position: relative;
  padding-bottom: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  opacity: 90%;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color:#000438;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  align-items: center;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000438;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

.faq {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
}

.contact-form {
  margin-top: 50px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: teal;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkcyan;
}